<div>
    <h1>My Articles Section</h1>
    <button>Add article</button>
</div>

<div>
    <h1>My Notes Section</h1>
    <button>Add note</button>
</div>
<div>
    <h1>My Details Section</h1>
    <button>Edit my details</button>
</div>

<hr>

<div class="on-popup" style="margin-top: 40px;">
    <h2>This should be on popup</h2>
    <div class="form">
        <form class="form-start">
            <input type="text" name="text" id="name" placeholder="name" />
            <input type="text" name="text" id="name" placeholder="name" />
            <input type="text" name="text" id="name" placeholder="name" />
            <input type="text" name="text" id="name" placeholder="name" />
            <input type="text" name="text" id="name" placeholder="name" />
            <input type="text" name="text" id="name" placeholder="name" />
        </form>
        <button>Clear</button>
        <button>Cancel</button>
        <button>Save</button>
    </div>
</div>


