<!-- If a user is logged in will se this  -->
<h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>


<!-- This only display if a user is not logged in -->
<div class="sing-up-form" *ngIf="!(authService.user | async)">
    <input type="text" [(ngModel)]="email" placeholder="email" />
    <input type="text" [(ngModel)]="name" placeholder="Your name" />
    <input type="password" [(ngModel)]="password" placeholder="password" />

    <!--This button validates if a user have entered credentials in both fields using [disabled] attribute -->
    <button (click)="signUp()" [disabled]="!email || !password">SignUp</button>
    
    <button (click)="logIn()" [disabled]="!email || !password">Login</button>

    
</div>
<!-- This button is displayed only if a user is detected as logged in  -->
<button (click)="logOut()" *ngIf="authService.user | async">Logout</button>

