/* You can add global styles to this file, and also import other style files */

@import "https://fonts.googleapis.com/css?family=Lato";

/* Colors */
$primaryPurple: #6034A8;
$primaryBlue: #005ECD;
$secondaryBlue: #007CDB;
$lightBlue: #0094D3;
$lightGreen: #00A9BC;
$green: #00BAA0;

*, html {
    margin: 0;
    padding: 0;
    font-family: 'Lato', serif;
};
