<section class="section presentation-div">
    <div class="container">
        <div class="section-title">
            <h1>Welcome to Vision Nexus</h1>
            <h6>Morbi ultrices est quis mi commodo, in dictum tellus hendrerit. Duis urna urna, congue sed ligula ac, fringilla suscipit lacus. Fusce luctus malesuada augue eget feugiat. Curabitur accumsan lacinia porttitor. Sed mattis vitae tortor nec eleifend. Proin tortor erat, varius a rhoncus sed, porttitor et dui. Praesent ut vehicula felis, blandit consectetur nisl. Duis elementum arcu nec massa tincidunt, ornare varius ipsum malesuada. Ut ex ipsum, pharetra at iaculis in, feugiat a turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas venenatis luctus tempor. Nulla in justo erat.</h6>
        </div>
    </div>
</section>
<section class="section services-presentation">
    <div class="container">
        <h2>Our Stack Technology</h2>
        <div class="short-description">
            <p>Morbi ultrices est quis mi commodo, in dictum tellus hendrerit. Duis urna urna, congue sed ligula ac, fringilla suscipit lacus. Fusce luctus malesuada augue eget feugiat. Curabitur accumsan lacinia porttitor. Sed mattis vitae tortor nec eleifend. Proin tortor erat, varius a rhoncus sed, porttitor et dui. Praesent ut vehicula felis, blandit consectetur nisl. Duis elementum arcu nec massa tincidunt, ornare varius ipsum malesuada. Ut ex ipsum, pharetra at iaculis in, feugiat a turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas venenatis luctus tempor. Nulla in justo erat.</p>
        </div>
    </div>
    <!-- <div class="container">
        <div class="services-items">
            <div class="columns">
                <div class="column item" *ngFor="let tech of technologies">
                    {{ tech.title }}
                    <img src="{{ tech.image }}" alt="No IMG SORRY" class="tech-image"/>
                </div>
              </div>
        </div>
    </div> -->
    <!-- <div class="container">
        <div class="services-items">
            <div class="columns">
                <div class="column item" *ngFor="let item of techs | async">
                    {{ item.title }}
                </div>
                <input type="text" class="input" name="techTitle" id="techTitle"  placeholder="techTitle" [(ngModel)]="techTitle" />
                <button (click)="addItem(techTitle)">Add Item</button>
            </div>
        </div>
    </div> -->
    <img src="../../assets/img/angular2.png"/>
    <div class="container">
        <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                Show ME something
                This is the best Yes from the west I guess 
                Negga;
            </div>
            <button class="modal-close is-large" aria-label="open">Done</button>
          </div>
    </div>
</section>